
    
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y border-top">
<div class="container">
  {{#if cartshop}}
<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">

<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
    {{#each cartshop}}
{{!--
 {{#each products}}
 {{#ifEquals idproduct this.idproduct}}    
   --}}  

<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="../{{photo}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{name}}</a>
				<p class="text-muted small">{{description}} <br> Brand: Alberto Shishas</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<select class="form-control"  id="select_id"  >
      	<option value="{{cantidad}}">{{cantidad}}</option>
			<option value="1" >1</option>
			<option value="2">2</option>	
			<option value="3">3</option>	
			<option value="4">4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">{{sumaPrecio price cantidad}}</var> 
			<small class="text-muted">{{price}}</small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
	<a href="/delete/{{idproduct}}" class="btn btn-light"> Remove</a>

  <figcaption class="info">
				<p class="text-muted small">Added At <br class=" text-justify">{{createdAt}}</p>
			</figcaption>
	</td>
</tr>

 {{!-- {{/ifEquals}} 
     {{/each}}
     --}} 
    
	{{/each}}
  
</tbody>
</table>

<div class="card-body border-top">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div> <!-- card-body.// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

<div class="card mb-3">
<div class="card-body">
<form>
	<div class="form-group">
		<label>Have coupon?</label>
		<div class="input-group">
			<input type="text" class="form-control" name="" placeholder="Coupon code">
			<span class="input-group-append"> 
				<button class="btn btn-primary">Apply</button>
			</span>
		</div>
	</div>
</form>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

<div class="card">
<div class="card-body">
		<dl class="dlist-align">
		  <dt>Total price:</dt>
		  <dd class="text-right">$69.97</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Discount:</dt>
		  <dd class="text-right text-danger">- $10.00</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Total:</dt>
		  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
		</dl>
		<hr>
	<div class="credit-cards" style="text-align: center; width: 100%">
  <img class="img-fluid" alt="Responsive image" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
  <img class="img-fluid"  alt="Responsive image" src="https://shoplineimg.com/assets/footer/card_master.png"/>
    <img class="img-fluid" alt="Responsive image" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
 </div>
 	<hr>
		<a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
		<a href="#" class="btn btn-light btn-block">Continue Shopping</a>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->


</div> <!-- row.// -->

{{else}}
<div class="alert alert-dark" role="alert">
  The shopping cart is empty! 
</div>
<a href="/product" class="btn  btn-outline-primary"  > <i class="fas fa-shopping-cart"></i>Start shopping </button>
{{/if}}
</section>
    
<br>
<!-- ============================ COMPONENT 1 END .// ================================= -->



    
    
    <div class="container">

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>




         {{!-- HERE GOES THE CRT LIST --}}

          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>



{{!---------------------------------------------------------------------------------------------------}}
